.loading-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loading-text {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* .loading-img {
    width: 50%;
    height: 50%;
    z-index: 0;
} */